<div class="dashboard-container">
  <div class="main-content">
    <!-- Sidebar -->
    <nav class="sidebar">
      <ul class="nav-links">
        <li><a routerLink="/dashboard" routerLinkActive="active"><i class="fa-solid fa-list fa-beat-fade"></i> Tableau de bord</a></li>
        <li><a routerLink="/demande"><i class="fa-solid fa-person-circle-question fa-bounce"></i> Mes demandes</a></li>

        <ng-container *ngIf="userRole === 'director'">
          <li><a routerLink="/projet" routerLinkActive="active"><i class="fa-solid fa-briefcase fa-beat-fade"></i> Les projets</a></li>
          <li><a routerLink="/users" routerLinkActive="active"><i class="fa-solid fa-person fa-bounce"></i><i class="fa-solid fa-person-dress fa-bounce"></i> Les employés</a></li>
          <li><a routerLink="/equipe" routerLinkActive="active"><i class="fa-solid fa-people-arrows fa-fade"></i> Les équipes</a></li>
          <li><a routerLink="/userreq" routerLinkActive="active"><i class="fa-solid fa-hourglass-start fa-fade"></i> Demandes des congés</a></li>
        </ng-container>
      </ul>
    </nav>

    <!-- Content Area -->
    <main class="content">
      <div class="dashboard-stats">
        <h2>Tableau de bord</h2>

        <!-- Solde de congé -->
        <div class="solde-container">
          <h3>Solde des Congés</h3>
          <div class="solde-box">
            <p><strong>Solde de Repos:</strong> {{ leaveBalance.congeRepos }} jours</p>
            <p><strong>Solde de Maladie:</strong> {{ leaveBalance.congeMaladie }} jours</p>
          </div>
        </div>

        <!-- Demand Statistics -->
        <div class="demand-stats">
          
       
        </div>
      </div>

      <router-outlet></router-outlet>
    </main>
  </div>
</div>