<div class="dashboard-container">
  <!-- Main Content -->
  <div class="main-content">
    <!-- Sidebar -->
    <nav class="sidebar">
      <ul class="nav-links">
        <li><a routerLink="/dashboard" routerLinkActive="active"><i class="fa-solid fa-list fa-beat-fade"></i> Tableau de bord</a></li>
        <li><a routerLink="/demande" ><i class="fa-solid fa-person-circle-question fa-bounce"></i> Mes demandes</a></li>

        <!-- Menu pour le Directeur -->
        <ng-container *ngIf="userRole === 'director'">
          <li><a routerLink="/projet" routerLinkActive="active"><i class="fa-solid fa-briefcase fa-beat-fade"></i> les projets</a></li>
          <li><a routerLink="/LesEmployes" routerLinkActive="active"><i class="fa-solid fa-person fa-bounce"></i><i class="fa-solid fa-person-dress fa-bounce"></i> les employés</a></li>
          <li><a routerLink="/DemandeConge" routerLinkActive="active"><i class="fa-solid fa-hourglass-start fa-fade"></i> Demandes des congés</a></li>
        </ng-container>
      </ul>
    </nav>
    <div class="demande-container">
      <div class="dashboard-container">
        <!-- Header -->
        <div class="demande-header">
          <h2>Liste des Notifications</h2>
        </div>
    
        <!-- Tableau des notifications -->
        <div class="panel">
          <div class="panel-header">
            <h2>Notifications</h2>
          </div>
          <table>
            <thead>
              <tr>
                <th>Date</th>
                <th>Notification</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let notification of notifications">
                <td>{{ notification.creationDate | date: 'dd/MM/yyyy' }}</td>
                <td>{{ notification.content }}</td>
              </tr>
              <!-- Si aucun message -->
              <tr *ngIf="notifications.length === 0">
                <td colspan="2" class="empty-message">Aucune notification</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>